*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(79, 78, 78);
}
h1{
  background-color: rgb(208, 205, 205);
  color: black;
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: center;
}
div{
  text-align: center;
}
button{
  margin-right: auto;
  border: none;
  padding: 1rem 1.5rem;
  background-color: rgb(44, 44, 44);
  color: aliceblue;
  font-size: 1.2rem;
  border-radius: 15%;
  cursor: pointer;
}

li{
  color: antiquewhite;
  list-style: none;
  margin: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}